<!doctype html>
<html lang="en">
  <head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AOT Contact</title>
    <link rel="icon" type="image/x-icon" href="https://live.staticflickr.com/7410/12272594713_fb1db15882_z.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  </head>

  <!-- Body -->
   <style>
   body {
    background-color: #1c1c1e;
    color: #f8f9fa;
   } 

   .navbar-nav .nav-link:hover {
    color: #ffc107;
    transition: 0.3s;
  }

  .navbar-brand {
    letter-spacing: 1px;
}
   </style>
    <body>
      <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://127.0.0.1:8000/"><b><b>AOT</b></b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/home">Home</a>
        </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://127.0.0.1:8000/seasons" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Seasons
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"><b>Season 1</b></a></li>
            <li><a class="dropdown-item" href="#"><b>Season 2</b></a></li>
            <li><a class="dropdown-item" href="#"><b>Season 3</b></a></li>
            <li><a class="dropdown-item" href="#"><b>Season 4 Part 1</b></a></li>
            <li><a class="dropdown-item" href="#"><b>Season 4 Part 2</b></a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/characters">Characters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/contact">Contact</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
    <div class="p-5 mt-0.1 bg-secondary-subtle text-secondary-emphasis">
    <h1 style="font-size: 50px;text-align: center; padding: 20px;">
         <b><b>AOT Contact</b></b></h1>
         </div>
         <div class="d-flex justify-content-center align-item-center">
<form>
  <div class="mb-3" style="width: 400px;">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input type="name" class="form-control" aria-describedby="username" placeholder="Username" >
  </div>
  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Message</label>
  <textarea class="form-control" placeholder="Type your message here..." id="exampleFormControlTextarea1" rows="3" style="height: 136px;"></textarea>
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<br>
<br>
         <!-- Links -->
<p style="color: aliceblue;"><b>Contacts:</b></p>
<p style="color: aliceblue;"><b>Wiki:</b><a href="https://attackontitan.fandom.com/wiki/Attack_on_Titan_Wiki"><b><b> AOT Wiki</b></b></a>
<p style="color: aliceblue;"><b>Auther:</b><a href="https://www.google.com/search?q=hajime+isayama&sca_esv=cab469c6dae8b008&rlz=1C1BFEM_en-GBPK1171PK1171&sxsrf=AE3TifMV3xEq8mZhQHz_zJj9FdU3DckVpQ%3A1752942245044&ei=pcZ7aJO7Av36kdUPhbDr-QI&ved=0ahUKEwjToc_eqsmOAxV9faQEHQXYOi8Q4dUDCBA&uact=5&oq=hajime+isayama&gs_lp=Egxnd3Mtd2l6LXNlcnAiDmhhamltZSBpc2F5YW1hMgoQIxiABBgnGIoFMgoQIxiABBgnGIoFMgUQLhiABDIFEC4YgAQyBRAAGIAEMgUQABiABDIFEAAYgAQyBRAAGIAEMgUQABiABDIFEAAYgARItTpQ8gNY1DJwAXgCkAEAmAGLCqAB70KqAQ0yLTEuMy4yLjAuMi40uAEDyAEA-AEBmAIFoALqDcICBBAAGEfCAgYQABgIGB7CAgsQABiABBiGAxiKBcICBRAAGO8FwgIEEAAYHsICCBAAGIAEGKIEmAMAiAYBkAYIkgcLMi4zLTEuMS4wLjGgB6ZisgcJMy0xLjEuMC4xuAetDcIHBTMtMi4zyAd2&sclient=gws-wiz-serp"><b><b> Hajime Isayama</b></b></a>
<p style="color: aliceblue;"><b>Instagram:</b><a href="https://www.instagram.com/attackontitan/"><b><b> AOT Insta</b></b></a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
  </body>
</html>